
/* .community-container {
  height: 900px;
} */

.banner-desktop {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
  padding: 0 40px;
}

.banner-column {
  position: relative;
    -webkit-animation-play-state: inherit !important;
    animation-play-state: inherit !important;
}

.name {
  margin: 48px 24px 0;
}

.name-span {
  font-family: "Avenir LT Std Heavy", sans-serif;
  font-size: 14px;
  line-height: 24px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  chrome-offset: 16px;
  position: relative;
  top: 2px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.quote {
  margin: 12px 24px 24px;
}

.laptop {
  overflow: hidden;
}

.image-fade {
  transition: box-shadow 0.3s ease-in-out;
}

.top-fade {
  height: 25%;
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;

  background: linear-gradient(
    180deg,
    #fafafa 28.12%,
    rgba(255, 255, 255, 0) 100%
  );
  z-index: 20;
}

.bottom-fade {
  height: 25%;
  width: 100%;

  position: absolute;
  bottom: 0;
  left: 0;

  background: linear-gradient(
    360deg,
    #fafafa 42.71%,
    rgba(255, 255, 255, 0) 100%
  );
  z-index: 20;
}

.left-animation {
  animation: scrollUp 150s linear infinite;
}

.right-animation {
  direction: rtl;
  animation: scrollDown 150s linear infinite;
}

.middle-animation {
  animation: 30.0667s linear 0s infinite normal none running scroll;
}

@keyframes scrollUp {
  0% {
    transform: translateY(50%);
  }
  50% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(50%);
  }
}

@keyframes scrollDown {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@media only screen and (max-width: 768px) {
  .banner-desktop {
    display: none;
  }

  .top-fade,
  .bottom-fade {
    display: none;
  }

  .left-animation {
    animation: scrollUp 150s linear infinite;
  }
  
  .right-animation {
    direction: rtl;
    animation: scrollDown 150s linear infinite;
  }

  @keyframes scrollUp {
    0% {
      transform: translateX(100%);
    }
    50% {
      transform: translateX(-1000%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  
  @keyframes scrollDown {
    0% {
      transform: translateX(-100%);
    }
    50% {
      transform: translateX(1000%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}


@media only screen and (max-width: 568px) {
  .left-animation {
    animation: scrollUp 120s linear infinite;
  }
  
  .right-animation {
    animation: scrollDown 120s linear infinite;
  }
}