@import url('../fonts/stylesheet.css');

$white: #FAFAFA;

$primary-red: #F84A5E;
$primary-yellow: #FFB700;
$primary-blue: #57CEFE;
$primary-green: #33D69F;
$primary-purple: #7A2FF2;
$primary-orange: #E75300;

$secondary-red: #FFB1BC;
$secondary-yellow: #FFE898;
$secondary-blue: #AEE7FF;
$secondary-green: #8AF4CF;
$secondary-purple: #C6A5FB;
$secondary-orange: #F58647;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.about-container {
  scroll-snap-type: y mandatory;

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}

.about-children {
  scroll-snap-align: start;
}

.bitbot {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  
  &:hover {
    transform: translatey(-4%);
  }
}

.community-image {
  transition: border 0.3s ease-in-out, transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
    z-index: 40 !important;
  }
}

.speech {
  min-width: 218px;
  transform: translatey(0px);
  animation: float 5s ease-in-out infinite;
  mix-blend-mode: multiply;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 12px;
  color: #333;
  background-color: $secondary-blue;
  padding: 1.5rem;
  border-radius: 4px;
  position: relative;
  box-shadow: 20px 20px $primary-blue;
  z-index: 2;
  // border: 1px solid $color-green;
}

.speech:after {
  transform: translatey(0px);
  animation: float2 5s ease-in-out infinite;
  content: ".";
  font-weight: bold;
  // -webkit-text-stroke: 0.5px $color-green;
  -webkit-text-fill-color: $secondary-blue;
  // border: 1px solid $color-green;
  text-shadow: 20px 20px $primary-blue;
  text-align: left;
  font-size: 55px;
  width: 55px;
  height: 11px;
  line-height: 30px;
  border-radius: 11px;
  background-color: $secondary-blue;
  position: absolute;
  display: block;
  bottom: -30px;
  left: 0;
  box-shadow: 22px 22px $primary-blue;
  z-index: 1;
}

.snooze {
  animation: float 5s ease-in-out infinite;
}

// @keyframes fade {
//   0% {
//     opacity: 0;
//   }
//   100% {
//     opacity: 1;
//   }
// }

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes float2 {
  0% {
    line-height: 15px;
    transform: translatey(0px);
  }
  55% {
    transform: translatey(-20px);
  }
  60% {
    line-height: 5px;
  }
  100% {
    line-height: 30px;
    transform: translatey(0px);
  }
}