.bg-styles {
  background-image: url("../assets/community/homegrown_bg.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.customModal {
  background-image: url("../assets/community/modal.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.startup-logo:hover {
  transform: translateY(-4%);
}

@media screen and (max-width: 1024px) {
  .bg-styles {
    background-position: center;
  }
}